body{
		margin:0; padding:0; font-size: 21px
	}
	.header{ background-color: gray;padding: 3%; text-align:center;
		color: white;
	 }
	.container{ background-color: pink;padding:2% 
	}
	.footer{ background-color: gray;padding: 4% text-align:center; 
		text-align:center;
		color: white
	}



<!..opening about My self..>
header{}
header div:first-child{padding: 4%;background: gray; width:42%; float:left;}
header div:nth-child(2){padding: 4%;background:pink; width: 42%; float: left;}
.clear{clear:both;}

nav{background: purple}
nav ul{margin: 5px; padding: 0;}
nav ul li{
	list-style: none; float: left; margin: 0.5%;padding: 1%;background: white
}
nav ul li a {text-decoration: none;display: block; width: 100%;}
nav ul li:hover{background:pink;}
section{}

section div:first-child{ padding: 4%; background: gray; width: 42%; float: left;}
section div:nth-child (2){ padding: 4%; background: purple; width: 42%; float: left;}

section{}
footer{ padding: 4%; background: pink; margin-top: 0.5%; width: 92%; }





<link rel="stylesheet"href="contact.css">
body{
	margin: 0; padding: 0; font-size: 12px

}